<a href="https://colab.research.google.com/github/Pierre-Loic/ADL_module_Python_datascience/blob/master/D%C3%A9fi_4_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Défi des parties 4 et 5

## Numpy

- Créer un tableau de zéros de dimensions (5, 8, 6)

- Créer un tableau de dimensions (4, 3, 6, 8) à l'aide des fonctions np.arange() et reshape(). Transformer le tableau en un vecteur

- Créer une tableau de dimension (5, 8) avec des valeurs aléatoires comprises entre 1 et 12. Sélectionner uniquement les valeurs supérieures à 5. Remplacer toutes les valeurs 10 par np.Nan

## Pandas

- Créer un dataframe pandas à partir du dictionnaire suivant : {'X':[7,8,9,8,5], 'Y':[4,9,8,3,6],'Z':[6,7,9,2,3]}. Créer un nouveau dataframe avec le carré de la première colonne, le cube de la deuxième colonne et la puissance quatre de la troisième colonne. Concaténer les deux dataframes horizontalement

- Créer un dataframe à partir du dictionnaire suivant : {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 15, 9, 20, 14.5, 7, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1]}. Récupérer les noms des personnes au dessus de la moyenne (la moyenne est calculée avec le nombre d'essais)